@tailwind base;
@tailwind components;
@tailwind utilities;


/* about.css */
::selection {
  background-color: #f5f5f5;; 
  color: #000; 
}


.svg-wrapper {
  filter: brightness(1.2);
  background: linear-gradient(to bottom right, #e6e6e6, #f5f5f5);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inset-btn { 
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .7s ease-in-out;
  }

.inset-btn:hover {

  box-shadow: inset 200px 0 0 0 #141414;;
}
/* CSS for the flying animation of the Twitter icon */
@keyframes flyIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the flyIcon animation to the Twitter icon when hovered */
.lucide-twitter:hover {
  animation: flyIcon 0.5s;
}

/* CSS for the rotating animation of the GitHub icon */
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the rotateIcon animation to the GitHub icon when hovered */
/* Apply the tiltIcon animation to the GitHub icon when hovered */
.icon-container.rotate-icon .icon-wrapper:hover {
  animation: tiltIcon 0.5s;
  animation-fill-mode: forwards; /* Keeps the final state after the animation ends */
}
/* CSS for the scaling animation of the LinkedIn icon */
@keyframes scaleIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the scaleIcon animation to the LinkedIn icon when hovered */
.lucide-linkedin:hover {
  animation: scaleIcon 0.5s;
}
